body{
    background-size: cover;
}
h1
{
font-size: 30px;
width: fit-content;
margin: 0px;
font-family:SF PRO Display;
background-color:rgba(128, 128, 128, 0.562);
color:white;
padding:10px;
border-radius:10px;


}
#l1,#l2{
    font-size:20px;
    font-family:SF PRO Display;
    border-radius:10px;
    background-color:rgba(128, 128, 128, 0.582);
    width:fit-content;
    padding:10px;
    
}

#status
{
font-size: 18px;
}
canvas{
    margin-top:80px;
}

